.text {
    padding: 10px;
    height: 10px;
    width: 100px;
    display: inline-block;
    margin: auto;
}

.filter-section::before {
    content: '⌕';
    margin-left: 15px;
    margin-right: 5px;
}

.radio-button {
    font-family: 'Megrim', cursive;
    font-size: .5em;
    margin-right: 15px;
}

#all {
    position: absolute;
}

#completed {
    position: absolute;
}
